.navbar {
  background: #6a1f0f;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  color: white;
}

.navbar .logo {
  font-size: 20px;
  font-weight: 700;
}

.navbar nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

.navbar nav a:hover {
  opacity: 0.7;
}

/* stil pentru buton Login */
.login-btn {
  padding: 6px 14px;
  border: 1px solid white;
  border-radius: 6px;
}
