.profile-page {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  padding: 40px 20px;
  box-sizing: border-box;
}

/* CARD DATE USER */
.profile-card {
  background: #7a2100;
  color: white;
  max-width: 450px;
  margin: 0 auto;
  padding: 24px 28px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.6;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.profile-card p {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 8px;
  margin-bottom: 14px;
}

.profile-card p:last-child {
  border-bottom: none;
}

/* BUTON */
.add-grill-wrap {
  text-align: center;
  margin: 30px 0;
}

.add-grill-btn {
  background: #28a745;
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.add-grill-btn:hover {
  background: #1f8a38;
}

/* MY GRILLS TITLE */
.grills-title {
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  color: #7a2100;
}

/* LISTA GRILLURI */
.grill-list {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.grill-item {
  width: 240px;
  height: 200px;
  background: #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: 16px;
}
